* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 1.5em;
    border: 0;
}
div {
   padding: 0.7em;
   border: 2px solid black;
   width: 25%;
   background-color:#938686 ;
   position:relative;
   border-radius: 10px;
   overflow: hidden;
   display: block;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 15%;
}
h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
form {
    padding-left: 20px;
    padding-bottom: 8px;
    line-height: 29px;
   margin-top: -10px;   


}
.user {
    width: -5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}
.log {
     margin-top: 10px;
    border: 0;
    border-radius: 10px;
    width: 18%;
    display: inline-block;
}
.box {
    margin-left: 12px;
    border-radius: 7px;
    width: fit-content;
    border: 2px solid rgb(55, 69, 83);
    width: 85%;
    height: 30px;
}
input {
    display: inline-block;
}
label {
    margin-left: -6px;
}
div:hover {
    border:3px solid black;
    cursor: pointer;
    background-color:#7c7171 ;
}
input.log:hover {
    cursor: pointer;
    background-color: #938686;
    color: blue;
    text-decoration: underline;
}