* {
    box-sizing:border-box;
}
body {
    display:flex;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec {
    max-width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    position:relative;
    border-radius: 10px;
    margin-bottom: -0.3rem;
    transition: .4s ease-out, transform 1s;
}
/* .sec:hover {
    max-width: 308px;
} */

.sec img {
    width:100%;
    border-radius: inherit;
}
.sec div {
     margin-top: 1rem;
     font-weight: 700;
     font-size: 1.4rem;
     color: hsl(218, 44%, 22%);
     padding-bottom: 0.3rem;
}
p {
    font-weight: 500;
    color: hsl(220, 15%, 55%);
    font-size: 1.1rem;
    margin-top: -5px;
    letter-spacing: -1px;
}
